<div class="navigation">
    <div class="section-inner">
        <ul class="main-menu">
            <!-- Loop through the navigation items -->
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a
                        href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            <!-- End the loop -->
        </ul><!-- .main-menu -->
       {{> "navigation-social"}}
        <div class="clear"></div>
    </div><!-- .section-inner -->

    <div class="mobile-menu-container">
        <ul class="mobile-menu">
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a
                        href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul><!-- .mobile-menu -->
        {{> "navigation-social"}}
        <!--<?php get_template_part( 'menu', 'social' ); ?>-->
    </div><!-- .mobile-menu-container -->

</div><!-- .navigation -->
