<div class="post-container">
    <div id="post-{{id}}" class="{{post_class}}">
        {{#if feature_image}}
            <div class="featured-media">
                <a href="{{url}}" rel="bookmark" title="{{title}}">
                    <img src="{{img_url feature_image}}">
                </a>

            </div><!-- .featured-media -->
        {{/if}}

        {{#if featured}}
            <div class="is-sticky">
                <div class="genericon genericon-pinned"></div>
            </div>
        {{/if}}
        <div class="post-inner">
            {{#if title}}
                <div class="post-header">
                    {{#if primary_tag}}
                        <span class="post-card-tags">{{primary_tag.name}}</span>
                    {{/if}}
                    <h2 class="post-title"><a href="{{url}}" rel="bookmark"
                                              title="{{title}}">{{title}}</a></h2>
                </div><!-- .post-header -->
            {{/if}}

            <p class="post-excerpt">{{excerpt characters="200"}}...</p>
            <div class="post-meta">
                <a class="post-meta-date" href="{{url}}" title="{{title}}">
                    <div class="genericon genericon-time"></div>
                    {{date published_at format="MMMM DD, YYYY"}}</a>
                <a class="post-meta-comments" href="{{url}}/#comments" title="Comments to {{title}}">
                    <div class="genericon genericon-comment"></div></a>
                <div class="clear"></div>
            </div>
        </div><!-- .post-inner -->
    </div>
</div>
