{{!< default}}

{{#post}}
    <div class="wrapper">
        <div class="wrapper-inner section-inner thin">
            <div class="content">
                <div class="post">
                    <!--<?php if ( has_post_thumbnail() ) : ?>-->
                    {{#if feature_image}}
                        {{> "post-header-image"}}
                    {{else has tag ="#video"}}
                        {{> "post-header-video"}}
                    {{else has tag ="#quote"}}
                        {{> "post-header-quote"}}
                    {{/if}}

                    <div class="post-inner">

                        <div class="post-header">
                            <p class="post-date">{{date published_at format="MMMM DD, YYYY"}}</p>
                            <h1 class="post-title">{{title}}</h1>

                        </div><!-- .post-header -->

                        <div class="post-content">
                            {{content}}
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- .post-inner -->

                    <div class="post-meta bottom">

                        <div class="tab-selector">
                            <ul>

                                <li>
                                    <a class="active tab-comments-toggle" href="#">
                                        <div class="genericon genericon-comment"></div>
                                        <span>Comments</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="tab-post-meta-toggle" href="#">
                                        <div class="genericon genericon-summary"></div>
                                        <span>Post info</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="tab-author-meta-toggle" href="#">
                                        <div class="genericon genericon-user"></div>
                                        <span>Author info</span>
                                    </a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="post-meta-tabs">
                            <div class="post-meta-tabs-inner">
                                <div class="tab-post-meta tab">
                                    <ul class="post-info-items fright">
                                        <li>
                                            <div class="genericon genericon-user"></div>
                                            {{#author}}
                                                <a href="{{url}}">{{name}}</a>
                                            {{/author}}
                                        </li>
                                        <li>
                                            <div class="genericon genericon-time"></div>
                                            <a href="{{url}}" title="{{title}}">
                                                {{date published_at format="MMMM DD, YYYY"}}
                                            </a>
                                        </li>
                                        {{#if primary_tag}}
                                            {{#primary_tag}}
                                                <li>
                                                    <div class="genericon genericon-category"></div>
                                                    <a href="{{url}}">{{name}}</a>
                                                </li>
                                            {{/primary_tag}}
                                        {{/if}}
                                        {{#has tag="count:>1"}}
                                            <li>
                                                <div class="genericon genericon-tag"></div>
                                                {{tags from="2" visibility="all"}}
                                            </li>
                                        {{/has}}
                                    </ul>
                                    <div class="post-nav fleft">
                                        {{#prev_post}}
                                            <a class="post-nav-prev" title="Previous post: {{title}}"
                                               href="{{url}}">
                                                <p>Previous post</p>
                                                <h4>{{title}}</h4>
                                            </a>
                                        {{/prev_post}}
                                        {{#next_post}}
                                            <a class="post-nav-next" title="Next post: {{title}}"
                                               href="{{url}}">
                                                <p>Next post</p>
                                                <h4>{{title}}</h4>
                                            </a>
                                        {{/next_post}}
                                    </div>

                                    <div class="clear"></div>

                                </div><!-- .tab-post-meta -->
                                <div class="tab-author-meta tab">
                                    {{#author}}
                                        {{#if profile_image}}
                                            <a href="{{url}}" class="author-avatar">
                                                <img src="{{profile_image}}" alt="{{name}}'s Picture"
                                                     class="avatar avatar-256 photo"/>
                                            </a>
                                        {{/if}}

                                        <div class="author-meta-inner">

                                            <h3 class="author-name"><a href="{{url}}">{{name}}</a></h3>

                                            <p class="author-location">
                                                {{location}}
                                            </p>
                                            {{#if bio}}
                                                <div class="author-description">
                                                    {{bio}}
                                                </div>
                                            {{/if}}

                                        </div>
                                    {{/author}}
                                </div><!-- .author-meta-inner -->
                                <div class="tab-comments tab">
                                    <div class="comments">
                                        External comments
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-nav-fixed">

                        {{#prev_post}}
                            <a class="post-nav-prev" title="Previous post: {{title}}"
                               href="{{url}}">
                                <span class="hidden">Previous post</span>
                                <span class="arrow">&laquo;</span>
                            </a>
                        {{/prev_post}}
                        {{#next_post}}
                            <a class="post-nav-next" title="Next post: {{title}}"
                               href="{{url}}">
                                <span class="hidden">Next post</span>
                                <span class="arrow">&raquo;</span>
                            </a>
                        {{/next_post}}
                        <div class="clear"></div>
                    </div><!-- .post-nav -->
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div><!-- .wrapper -->



{{/post}}

{{#contentFor "scripts"}}
    <script>
        jQuery(document).ready(function ($) {
            if (postProps) {
                if (postProps["video"]) {
                    $('.featured-media').append('<iframe width="700" height="394" src="' +
                            postProps["video"] + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
                } else if (postProps["imgCaption"]) {
                    var mediaCaptionElement = $('#media-caption-element');
                    if (mediaCaptionElement) {
                        mediaCaptionElement.text(postProps["imgCaption"])
                    }
                } else if (postProps["quoteText"]) {
                    var author = postProps["quoteAuthor"];
                    $('.post-quote blockquote').html(postProps["quoteText"] +
                            (author ? '<cite>' + author + '</cite>' : ""))
                }
                $(window).resize();
            }
        });
    </script>
{{/contentFor}}
